*{
font-family: 'Times New Roman', Times, serif;

}

body{
    margin: 0;
    
}

.topdesign{

    background-color: #04AA6D;
    padding-top: 20px;
    margin-bottom: 50px;
    
}

.btn {
    float: right;
    border: none;
    background-color: #333;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
  }
  
.btn:hover {
    background: black;
    color: white;

}
  


.topnav{
    text-align: center;
    color: black;
    display: block;
}

h1{
font-size: 50px;;
text-align: center;
}

.maintopics{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
  }
  
  li {
    float: left;
    display: block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }
  
  li a:hover {
    background-color: #111;
    color: white;
    
  }

  

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

footer {
    text-align: center;
    padding: 3px;
    background-color: #04AA6D;
    color: white;
  }

h4{
font-weight: lighter;
}
